
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
h1
h2
h3
h4
h5
h6
p {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
    width: 50%;
    margin: auto;
}
button {
    cursor: pointer;
}
address{
    font-style: normal;
}
.container {
    width: 1158px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}
/*----------HEADER----------*/
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo-pass {
    color: #2e2f42;
}
.header-logo-pass:hover,
.header-logo-pass:focus,
.header-logo-pass:active {
    color: #404bbf;
}
.header-menu {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-nav {
    display: flex;
    flex-grow: 1;
    margin-left: auto;
    align-items: center;
}
.header-container {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
    padding-left: 15px;
    padding-right: 15px;
}
.header-menu-link {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
}
.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}
.header-menu-info {
    display: flex;
    gap: 40px;
}
.header-menu-info-inform {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.header-menu-info-inform:hover,
.header-menu-info-inform:focus {
    color: #404bbf;
}
/*-------------HERO-------------*/
.hero {
    width: 1440px;
    height: 600px;
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;

    align-items: center;
    text-align: center;
}

.hero-title {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin: 0 auto;
        max-width: 496px;
}
.hero-btn-link {
        border: none;
        border-radius: 4px;

        background-color: #4d5ae5;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        cursor: pointer;
        margin-top: 48px;
        display: block;
        min-width: 169px;
        height: 56px;
}
.hero-btn-btn {
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
.hero-btn-link:hover,
.hero-btn-link:focus {
   background: #404bbf;
}
.middle {
    width: 1158px;
    height: 104px;
    margin-left: 156px;
    padding-top: 120px;
    padding-bottom: 120px;

}
.visually-hidden {
    position: absolute;
    visibility: hidden;
}
.middle-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.middle-list-link {
    height: 104px;
    width: calc((100% - 3 * 24) / 4);
}
.middle-list-link-name {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.middle-list-link-read {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.introduse{
    width: 1440px;
    height: 732px;
    background: #f4f4fd;
    padding-left: 156px;
    padding-right: 156px;
    padding-bottom: 120px;
}
.introduse-hero {
    display: flex;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    gap: 24px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}
.introduse-name {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        text-transform: capitalize;
}
.introduse-hero-plus {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24) / 4);
}
.introduse-name-hero {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.introduse-name-about {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.picture {
    width: 1128px;
    height: 1000px; 
    padding-bottom: 120px;
    padding-left: 156px;
    padding-right: 156px;
}
.picture-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.picture-list-numb {
    width: calc((100% - 2 * 24) / 3);
    padding-bottom: 48px;
}
.picture-list-number {
    width: calc((100% - 2 * 24) / 3);
}
.picture-list-name {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.picture-list-about {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/*------------FOOTER---------------*/

.footer-about-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding-top: 16px;
        width: 264px;
        height: 72px;
}

.footer-about {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 312px;
    background: #2e2f42;
}
.footer-logo {
    width: 264px;
    height: 112px;
    padding-top: 100px;
    text-transform: uppercase;
}

.footer-text {
    color: #f4f4fd;
}

.footer-text:hover,
.footer-text:focus {
    color: #404bbf;
}

.addr{
    font-style: normal;
}